$green = #1CC563

body
  font-family 'Gotham'
  
.button
  background $green
  border none
  border-radius 3px
  color white
  font-weight 400
  text-transform none
  
.nav
  display inline-block
  width 100%
  .right
    float right