$background-grey = #E2E2E2

$light-grey = #F4F4F4
$grey = #979797

$title-text = #4A4A4A
$primary-text = #818181

body
  // background-color $background-grey

.card
  // border 1px solid $grey 
  background-color white
  border-radius 4px
  color $primary-text
  
  img
    border-radius 4px 4px 0 0;
    height 18rem   
  
  .event-information
    padding 1rem
  
  h5
    color $title-text
    font-size 125%
    margin 1rem 0 0 0
  
  p
    margin 0
  
  .tags
    border-top 1px solid $grey
    padding 1rem