$background-grey = #E2E2E2
$text-background = #EFEEEC

$title-text = #6F6B67
$primary-text = #7B7B7B

.modal
  background $background-grey
  box-sizing border-box
  margin 0 auto
  padding 6rem
  width 80%
  
  .eventHeader,
  .eventDetails
    background $text-background
    overflow hidden
    padding 4rem
  
  .eventHeader
    margin-bottom 6rem
      
  .eventDetails
    display block